
@import "res/variables";
@import "include-media";
@import "main";

nav .search-prop-input{
    opacity: 0;
}

.search-box{
    background: white;
    background-size: cover;
    height: 100%;
    display: flex;

    div{
        width: 40vw;
        margin: auto;
        h1{
            color: black;
            text-align: center;
            letter-spacing: 0.1rem;
        }
        @include media(">tablet","<=laptop"){
            width: 50vw;
        }
        @include media(">phone","<=tablet"){
            width: 60vw;
        }
        @include media("<=phone"){
            width: 80vw;
        }

    }

    .searchInp{
        @extend .text-body;
        @extend .font-midheading;
    }


}

#searchInpDiv{
    display: flex;
    justify-content: center;
}



//feature box and it's child's props
#hp-feature{
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    height: 92.5%;
    margin:0 0 7.5% 0;
    #hpf-img{
        overflow:hidden;
        margin-top: 7.5%;
        border-radius: 20px;
    }
    #hpf-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3em;
        margin: 0 5em;
        h3{
            text-align: center;

        }
        p{
            font-size: 18px;

            font-family: $fontBody;
        }

        div[class="rowflex"]{
            justify-content: center;

            button{
                font-size: $fontsize_icon;
                margin: 0 1em;
                padding: 0.5em 2em;
                color: white;
                background-color: rgb(225,0,0);
                outline: 0;
                border-width: 0;

            }

            button:hover{
                background-color: rgb(255,0,0);
                cursor: pointer;

            }

        }
    }
}

#hp-perks{
    background-color: rgba(255,228,196,0.2);
    padding:8rem 3em 5rem 3rem;
    margin-top: -12%;
    h3{
        text-align: center;
    }
    div[class="gridbox"]{
        padding: 2rem 5rem;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap: 10em;

        div[perk]{
            text-align: center;
            i{
                font-size: $fontsize_body;
                display: inline-block;
                width: 100%;
            }
            h4{

                margin-top: 4px;
                margin-bottom: 4px;
            }
            h4,i{
                text-align: center;
                color:orangered;
            }
            p{
                margin-top: 0;
            }

        }
    }
}


#hp-cityprops{
    height: 80%;
    margin-top: 5%;
    position: relative;
    div{
        height: 100%;
        .card{
            height: 100%;
            width: 40%;
            min-width: 300px;
            background-color: red;
            margin-right: -1%;
            border-radius: 10px;
            background-size: cover;


            &:hover{
                transform: translateZ(100px) !important;
                cursor: pointer;

            }
        }
        .card:nth-child(1){
            background-color: yellow;

        }
    }

    
    button{
        position: absolute;
        height: 20%;
        background-color: rgba(0,0,0,0.3);
        font-size: $fontsize_body;
        padding: 0 1em;
        outline: none;
        border-width: 0;

        color: white;
        &:hover{
            cursor: pointer;
            background-color: rgba(0,0,0,1);

        }
    }
    #hp-prop-right{
        top: 40%;
        right: 0;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    #hp-prop-left{
        top: 40%;
        left: 0;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}

#hp-quote{
    background-color: rgba(255,228,196,0.2);

    height: 60%;
    display: flex;
    flex-direction: column;
    margin: 5% 0 ;
    justify-content: center;
    text-align: center;
    div{
        margin: 0 auto;
        width: 50%;

    }
    p{
        color: orangered;
        font-size: $fontsize_icon - 3px;
        font-family: $fontBody;
    }

    p[rel="author"]{
        font-family: $fontMidHeading;
        color: black;

    }

    @include media("<tablet"){
         div{
             width: 70%;
         }
     }
    @include media(">phone","<tablet"){

        p{
            font-size: $fontsize_icon - 4px;
        }
    }
    @include media("<phone"){

        p{
            font-size: $fontsize_icon - 6px;
        }
    }

}