
@import "res/variables";

.search-box{
    background: url("/imgs/homepage-bg1.jpg");
    background-size: cover;
    height: 100%;
    display: flex;

    div{
        width: 35vw;
        margin: auto;
        h1{
            color: black;
            font-family: 'Ubuntu', serif;
            text-align: center;
            letter-spacing: 0.1rem;
            font-size: 25px;
        }

    }

}

#searchInpDiv{
    display: flex;
    justify-content: center;
}


//feature box and it's child's props
#hp-feature{
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    height: 92.5%;
    margin:0 0 7.5% 0;
    #hpf-img{
        overflow:hidden;
        margin-top: 7.5%;
    }
    #hpf-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3em;
        margin: 0 5em;
        h3{
            font-size: $largeHeadingFontSize;
            font-family: $fontHeading;
            text-align: center;

        }
        p{
            font-size: 18px;

            font-family: $fontBody;
        }

        div[class="rowflex"]{
            justify-content: center;

            button{
                font-size: $iconFontSize;
                margin: 0 1em;
                padding: 0.5em 2em;
                color: white;
                background-color: rgb(225,0,0);
                outline: 0;
                border-width: 0;

            }

            button:hover{
                background-color: rgb(255,0,0);
                cursor: pointer;

            }

        }
    }
}

#hp-perks{
    background-color: bisque;
    padding:8rem 3em 5rem 3rem;
    margin-top: -12%;
    h3{
        text-align: center;
        font-size: $largeHeadingFontSize;
        font-family: $fontHeading;
    }
    div[class="gridbox"]{
        padding: 2rem 5rem;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap: 10em;

        div[perk]{
            text-align: center;
            i{
                display: inline-block;
                width: 100%;
                font-size: $bodyFontSize;
            }
            h4{
                font-size: $bodyFontSize;
                font-family: $fontMidHeading;
                margin-top: 4px;
                margin-bottom: 4px;
            }
            h4,i{
                text-align: center;
                color:orangered;
            }
            p{
                font-size: $iconFontSize;
                font-family: $fontBody;
                margin-top: 0;
            }

        }
    }
}