/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#filter-searched-props {
  margin: 2px 0 1.5vw 0;
}
#filter-searched-props h3 {
  font-size: 20px;
}
#filter-searched-props input[type=radio], #filter-searched-props input[type=checkbox] {
  width: auto;
  margin-top: 0;
  align-self: center;
}
#filter-searched-props input[type=radio] + label, #filter-searched-props input[type=checkbox] + label {
  align-self: center;
  font-size: 16px;
}
#filter-searched-props input[type=radio]:hover, #filter-searched-props input[type=checkbox]:hover {
  cursor: pointer;
}

.filter-divs {
  position: relative;
  margin: 0 2px;
}

.filter-btn {
  padding: 0.1em 1em;
  border-radius: 1em;
  background-color: white;
  font-family: "Alegreya";
  width: 100%;
  white-space: nowrap;
}
.filter-btn:hover {
  cursor: pointer;
  background-color: lightgray;
}

.filter-box {
  position: absolute;
  top: 100%;
  margin-top: 0.5vw;
  width: 25vw;
  left: 2px;
  z-index: 4;
  background-color: whitesmoke;
  padding: 1em;
  border-radius: 10px;
  border: 2px lightgray solid;
}
@media (min-width: 1025px) {
  .filter-box {
    width: 28vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .filter-box {
    width: 35vw;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .filter-box {
    width: 50vw;
  }
}
@media (max-width: 480px) {
  .filter-box {
    width: 70vw;
  }
}

#price-filter-slider {
  width: 100%;
}

.ui-slider-horizontal {
  height: 6px !important;
}

.ui-slider-handle {
  top: -8px !important;
  background: url("/imgs/menu-icon.png") !important;
  background-size: contain !important;
  border-radius: 50% !important;
  border-width: 0 !important;
  outline: none !important;
  width: 22px !important;
  height: 22px !important;
  padding: 0 !important;
}
.ui-slider-handle:hover {
  cursor: pointer !important;
}

#priceFilter > .filter-box > .rowflex {
  padding: 0.5em;
  margin-top: 10px !important;
}

.price-inputs {
  background-color: white;
  border-radius: 0.5em;
  padding: 0.5em;
  white-space: nowrap;
  outline: black;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.price-inputs input::-webkit-outer-spin-button,
.price-inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price-inputs input[type=number] {
  -moz-appearance: textfield;
}
.price-inputs label {
  font-size: 14px;
}
.price-inputs input {
  width: 90%;
  outline: none;
  border-width: 0;
}

.filter-submit-btns {
  margin-top: 0.7em;
}
.filter-submit-btns input {
  border-width: 1px;
  background-color: black;
  color: white;
  border-radius: 0.5em;
  padding: 0.3em;
  outline: 0;
}
.filter-submit-btns input:hover {
  cursor: pointer;
  background-color: rgba(1, 1, 1, 0.7);
}
.filter-submit-btns input:nth-child(2) {
  float: right;
}

#more-filters-modal {
  max-width: 60vw !important;
  width: 50vw !important;
  padding: 1vw 2vw !important;
}
#more-filters-modal .afterline::after, #more-filters-modal .beforeline::before {
  width: calc(100% + 4vw) !important;
  height: 1px !important;
  margin: 0 -2vw;
  background-color: #c5c5c5 !important;
}

#more-filters-header {
  width: auto;
}
#more-filters-header h1 {
  text-align: center;
}

#more-filters-body {
  max-height: 60vh;
  overflow-y: scroll;
  margin: 5px 1.5vw;
  max-width: 100%;
  overflow-x: hidden;
}

#more-filters-footer {
  padding: 5px 0;
}

.mfb-divs {
  padding-bottom: 15px;
}

.multiline-div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.single-line-input {
  display: flex;
  flex-direction: row;
}

inputbox {
  margin: auto 0 auto auto;
}

inputbox[type=smallnumber] input {
  border: 0;
  background-color: white;
  outline: 0;
  width: 2.5ch;
  display: inline;
}
inputbox[type=smallnumber] input:hover {
  cursor: default;
}
inputbox[type=smallnumber] .circular-btn i {
  padding: 0 6px !important;
  font-style: normal !important;
  border-radius: 50% !important;
}
inputbox[type=smallnumber] .circular-btn:nth-child(1) {
  margin-right: 7px;
}
inputbox[type=smallnumber] .circular-btn:nth-child(3) {
  margin-left: 7px;
}

.mfb-divs .gridbox {
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-row-gap: 2em;
}
nav {
  position: relative;
}
nav .search-prop-input {
  opacity: 1;
}

body {
  padding: 0 5vw;
}

body > div {
  margin: 1rem 0;
}

#show-prop-filters {
  font-size: 20px;
}

#listprops-heading-bar {
  background-color: white;
  top: 0;
}
#listprops-heading-bar button {
  margin-right: 1rem;
}

#listprops-grid {
  display: grid;
  flex: 80 1 0px;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1.5rem;
}

/*# sourceMappingURL=listprops.css.map */
