.midsize {
  font-size: 1.8rem;
}

.bodysize {
  font-size: 1.2rem;
}

.afterline:after {
  margin-top: 2rem;
}

#images-box {
  width: 100%;
}

#left-prop-content > div {
  margin-top: 4rem;
}

body {
  padding: 0 10vw;
  background-color: white;
}

nav {
  background-color: white;
  position: relative;
  top: 0;
}

#prop-main-box {
  /*/margin-top: 5vw;*/
}

#prop-heading {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
#prop-heading h1 {
  font-size: 2.4rem;
}
#prop-heading button {
  margin-left: auto;
  font-size: 2.4rem;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  outline: 0;
}
#prop-heading button[wishlist=true] i {
  color: red;
  text-shadow: 0 0 5px white;
}
#prop-heading button[wishlist=true] i:hover {
  color: white;
  cursor: pointer;
  text-shadow: 0 0 5px red;
}
#prop-heading button[wishlist=false] i {
  color: white;
  text-shadow: 0 0 5px red;
}
#prop-heading button[wishlist=false] i:hover {
  color: red;
  cursor: pointer;
}
#prop-heading input {
  margin: auto 0 auto auto;
  font-size: 1.2rem;
  height: 2.4rem;
  padding: 0 5px 0 5px;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 10px;
  background-color: aliceblue;
  outline: 0;
}
#prop-heading input:hover {
  cursor: pointer;
  background-color: lightblue;
}

.visit-time, #images-box #imgs-showall {
  font-size: 1.3vw;
  border-radius: 10px;
  background-color: orange;
  border-color: orange;
  padding: 7px;
  color: white;
  outline: none;
}
.visit-time:hover, #images-box #imgs-showall:hover {
  cursor: pointer;
  background-color: #FF8C00;
  outline: none;
}

#images-box {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 15vw);
  grid-gap: 0.3rem;
}
#images-box div:nth-child(1) {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
#images-box div:nth-child(2) {
  grid-column-start: 3;
}
#images-box img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
#images-box #imgs-showall {
  position: absolute;
  right: 3vw;
  bottom: 2vw;
  margin: 1vw;
}

.imgs {
  margin: 0.2vw;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 100%;
  flex: 1 1 0px;
}

#prop-content {
  margin: 3vw 0;
  position: relative;
}

#left-prop-content {
  margin: 0vw 0.5vw 0vw 0.2vw;
  flex: 2.5 1 0px;
  height: 100vw;
}

#left-prop-content > div:first-child {
  margin: 0vw 0 3vw 0;
}

#left-prop-content > div:first-child p {
  margin: 0;
}

#right-prop-content {
  margin: 0vw 0.2vw 0vw 0.5vw;
  position: relative;
  flex: 1 1 0px;
}

.sticky {
  top: 10px;
}

#propDesc {
  height: auto;
  max-height: 20vw;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-bottom: 0;
  /* can use some break word property here */
}

#showDesc {
  position: absolute;
  bottom: calc( -2.3vw - 12px);
  width: 100%;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
}

#showDesc input {
  margin: 1vw;
  font-size: 1.3vw;
  border-radius: 10px;
  background-color: orange;
  border-color: orange;
  padding: 6px;
  color: white;
  outline: none;
}

#showDesc input:hover {
  cursor: pointer;
  background-color: #FF8C00;
  outline: none;
}

#amenities-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 0.4rem;
}
#amenities-box p {
  background-color: lightgray;
  font-size: 1.5rem;
  border-radius: 0.3em;
}

#map {
  width: 100%;
  height: 17vw;
  border-radius: 10px;
  /*(100vw - (body padding *2))/3.5 -4 can include the left right prop margin too*/
}

#address-box p {
  background-color: #f4f4f4;
  text-align: center;
  padding: 0.9rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 3px;
  font-size: 1.2rem;
}

#contact-box {
  max-width: 100%;
  max-height: 20vw;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4vw;
  background-color: lightblue;
}
#contact-box p {
  padding: 2vw;
}
.visit-time {
  background-color: white;
  color: black;
  border-color: white;
  padding: 0.4em;
  margin: 0.4em;
}
.visit-time:hover {
  background-color: lightgray;
}

/*# sourceMappingURL=prop.css.map */
