.text-body {
  font-family: "Montserrat";
  font-size: 21.6px;
}

.text-small-body, .form-input, nav a {
  font-family: "Montserrat";
  font-size: 19.6px;
}

.text-icon, .anchor-btn, .input-label-div label, nav .search-prop-input .searchInp, nav .search-prop-input button {
  font-family: "Montserrat";
  font-size: 16.28px;
}

.text-small-icon {
  font-family: "Montserrat";
  font-size: 14px;
}

.text-largeheading {
  font-family: "Ubuntu";
  font-size: 42px;
}

.text-midheading {
  font-family: "Alegreya";
  font-size: 28.8px;
}

.font-body {
  font-family: "Montserrat" !important;
}

.font-largeheading, nav a {
  font-family: "Ubuntu" !important;
}

.font-midheading, .input-label-div label, nav .search-prop-input .searchInp, nav .search-prop-input button {
  font-family: "Alegreya" !important;
}

@media (min-width: 481px) and (max-width: 768px) {
  .text-largeheading {
    font-size: 37px;
  }

  .text-midheading {
    font-size: 25.8px;
  }

  .text-body {
    font-size: 19.6px;
  }

  .text-icon, .anchor-btn, .input-label-div label, nav .search-prop-input .searchInp, nav .search-prop-input button {
    font-size: 14.28px;
  }

  .text-small-icon {
    font-size: 12.28px;
  }
}
.half-window {
  width: 50%;
}

@media (max-width: 480px) {
  .text-body {
    font-size: 17.6px;
  }

  .text-largeheading {
    font-size: 32px;
  }

  .text-midheading {
    font-size: 21.8px;
  }

  .text-icon, .anchor-btn, .input-label-div label, nav .search-prop-input .searchInp, nav .search-prop-input button {
    font-size: 13.28px;
  }

  .text-small-icon {
    font-size: 11.78px;
  }
}
.text-body {
  font-family: "Montserrat";
  font-size: 21.6px;
}

.text-small-body, .form-input, nav a {
  font-family: "Montserrat";
  font-size: 19.6px;
}

.text-icon, .anchor-btn, .input-label-div label, nav .search-prop-input .searchInp, nav .search-prop-input button {
  font-family: "Montserrat";
  font-size: 16.28px;
}

.text-small-icon {
  font-family: "Montserrat";
  font-size: 14px;
}

.text-largeheading {
  font-family: "Ubuntu";
  font-size: 42px;
}

.text-midheading {
  font-family: "Alegreya";
  font-size: 28.8px;
}

.font-body {
  font-family: "Montserrat" !important;
}

.font-largeheading, nav a {
  font-family: "Ubuntu" !important;
}

.font-midheading, .input-label-div label, nav .search-prop-input .searchInp, nav .search-prop-input button {
  font-family: "Alegreya" !important;
}

@media (min-width: 481px) and (max-width: 768px) {
  .text-largeheading {
    font-size: 37px;
  }

  .text-midheading {
    font-size: 25.8px;
  }

  .text-body {
    font-size: 19.6px;
  }

  .text-icon, .anchor-btn, .input-label-div label, nav .search-prop-input .searchInp, nav .search-prop-input button {
    font-size: 14.28px;
  }

  .text-small-icon {
    font-size: 12.28px;
  }
}
.half-window {
  width: 50%;
}

@media (max-width: 480px) {
  .text-body {
    font-size: 17.6px;
  }

  .text-largeheading {
    font-size: 32px;
  }

  .text-midheading {
    font-size: 21.8px;
  }

  .text-icon, .anchor-btn, .input-label-div label, nav .search-prop-input .searchInp, nav .search-prop-input button {
    font-size: 13.28px;
  }

  .text-small-icon {
    font-size: 11.78px;
  }
}
nav {
  position: fixed;
  width: 100%;
  padding: 0.7vw 1vw;
  display: flex;
  z-index: 1;
}

nav .search-prop-input {
  opacity: 1;
  transition: all 0.3s ease-in;
}
.search-prop-input {
  margin: 0 auto;
  width: 35vw;
}
.search-prop-input .searchInp, .search-prop-input button {
  border-width: 0;
  border-color: black;
  border-top-width: 2px;
  border-bottom-width: 2px;
  outline: none;
  width: 80%;
  padding: 0.5rem;
  float: left;
}
.search-prop-input .locationInput {
  width: 30%;
  border-right-width: 1px;
}
.search-prop-input button {
  width: 10%;
  background-color: white;
  transition: all 0.1s ease-in;
}
.search-prop-input button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
.search-prop-input .search-go-btn {
  border-right-width: 2px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.search-prop-input .search-location-btn {
  border-left-width: 2px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

nav div {
  display: flex;
}

nav div:first-child {
  flex: 1.7 1 0px;
  display: flex;
  flex-direction: row;
}

nav a {
  text-align: center;
  margin: 0 8px;
  padding: 8px;
  border-radius: 10px;
  font-weight: 700;
  font-family: "Ubuntu", serif;
  word-spacing: 0.2rem;
  color: #646464;
  text-decoration: none;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#logoicon {
  margin-left: 0;
  padding-left: 0;
}

@media (min-width: 481px) and (max-width: 768px) {
  .search-prop-input {
    width: 80%;
  }
}
.text-body {
  font-family: "Montserrat";
  font-size: 21.6px;
}

.text-small-body, .form-input, nav a {
  font-family: "Montserrat";
  font-size: 19.6px;
}

.text-icon, .anchor-btn, .input-label-div label, nav .search-prop-input .searchInp, nav .search-prop-input button {
  font-family: "Montserrat";
  font-size: 16.28px;
}

.text-small-icon {
  font-family: "Montserrat";
  font-size: 14px;
}

.text-largeheading {
  font-family: "Ubuntu";
  font-size: 42px;
}

.text-midheading {
  font-family: "Alegreya";
  font-size: 28.8px;
}

.font-body {
  font-family: "Montserrat" !important;
}

.font-largeheading, nav a {
  font-family: "Ubuntu" !important;
}

.font-midheading, .input-label-div label, nav .search-prop-input .searchInp, nav .search-prop-input button {
  font-family: "Alegreya" !important;
}

@media (min-width: 481px) and (max-width: 768px) {
  .text-largeheading {
    font-size: 37px;
  }

  .text-midheading {
    font-size: 25.8px;
  }

  .text-body {
    font-size: 19.6px;
  }

  .text-icon, .anchor-btn, .input-label-div label, nav .search-prop-input .searchInp, nav .search-prop-input button {
    font-size: 14.28px;
  }

  .text-small-icon {
    font-size: 12.28px;
  }
}
.half-window {
  width: 50%;
}

@media (max-width: 480px) {
  .text-body {
    font-size: 17.6px;
  }

  .text-largeheading {
    font-size: 32px;
  }

  .text-midheading {
    font-size: 21.8px;
  }

  .text-icon, .anchor-btn, .input-label-div label, nav .search-prop-input .searchInp, nav .search-prop-input button {
    font-size: 13.28px;
  }

  .text-small-icon {
    font-size: 11.78px;
  }
}
/******** GlobalClasses *******/
html {
  font-size: 1vw;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0 0vw;
}

.template {
  display: none;
}

.modal {
  z-index: 11 !important;
}

.blocker {
  z-index: 10 !important;
  margin: 0 !important;
}

button {
  outline: none;
}

* {
  box-sizing: border-box;
}

.required-input::after {
  content: "*";
  color: red;
}

/* Default texts with size and font families */
.largesize {
  font-size: 3.8rem;
}

.heading {
  font-size: 28.8px;
  font-family: "Ubuntu";
}

.midsize {
  font-size: 1.8rem;
  font-family: "Alegreya";
}

.parasize {
  font-size: 1.1rem;
  font-family: "Montserrat";
  color: #222222;
}

.smparasize {
  font-size: 0.9rem;
  font-family: "Montserrat";
}

.hidden {
  display: none !important;
}

.toggleVisible {
  transition: all 0.3s linear;
  visibility: hidden;
}
.toggleVisible[visible=false] {
  opacity: 0;
  visibility: hidden;
}
.toggleVisible[visible=true] {
  opacity: 1;
  visibility: visible;
}

/* Font awesome icon classes */
.fontAwesomeBTN {
  background-color: rgba(1, 1, 1, 0);
  color: black;
  outline: none;
  font-size: 16.28px;
  border: 0;
  padding: 0;
  transition: background-color 4s ease-in;
}
.fontAwesomeBTN i {
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.fontAwesomeBTN:hover i {
  cursor: pointer;
  background-color: black;
  color: white;
}

.notypelist {
  list-style-type: none;
}

/********                  *********/
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#searchInputNavbar {
  font-size: 1.2vw;
  display: none;
}

.headline {
  width: 100%;
  text-align: center;
  margin-bottom: 0vw;
}

.headline:before {
  content: "";
  width: 6vw;
  height: 0.4vw;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: gray;
}

.afterline {
  position: relative;
}

.afterline:after {
  content: "";
  width: 80%;
  height: 1px;
  position: absolute;
  bottom: 0px;
  background: #717171;
}

.beforeline {
  position: relative;
}

.beforeline:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0px;
  background: #717171;
}

.hidescrollbar::-webkit-scrollbar {
  display: none;
}

.hidescrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#logoicon {
  text-align: left;
  flex: 0 0 0px;
  width: 5vw;
}

footer {
  width: 100%;
  height: 20vw;
  background-color: azure;
}

/*flex classes*/
.rowflex {
  display: flex;
  flex-direction: row;
}

.colflex {
  display: flex;
  flex-direction: column;
}

/*Margin bottom to 0*/
.nomb {
  margin-bottom: 0 !important;
}

.sticky {
  position: fixed;
}

.rel {
  position: relative;
}

.gridbox {
  display: grid;
}

.shakeinp {
  outline-color: red;
  border-color: red !important;
  -webkit-animation: shake 0.5s linear;
}

.animationMenu {
  width: 0;
  transition: width 0.3s linear;
}

.animationMenu[status=close] {
  width: 0;
}

.star-rating-box {
  display: flex;
}
.star-rating-box div {
  overflow: hidden;
  display: flex;
}
.star-rating-box .back-stars {
  position: relative;
  color: grey;
}
.star-rating-box .front-stars {
  position: absolute;
  color: red;
  top: 0;
}

.add-to-wishlist-btn {
  margin-left: auto;
  font-size: 2.4rem;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  outline: 0;
}

.add-to-wishlist-btn[wishlist=true] i {
  color: red;
  text-shadow: 0 0 5px white;
}
.add-to-wishlist-btn[wishlist=true] i:hover {
  color: white;
  cursor: pointer;
  text-shadow: 0 0 5px red;
}

.add-to-wishlist-btn[wishlist=false] i {
  color: white;
  text-shadow: 0 0 5px red;
}
.add-to-wishlist-btn[wishlist=false] i:hover {
  color: red;
  cursor: pointer;
}

.raised-box, .splide__list .is-active {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.circular-btn {
  border-radius: 50% !important;
  border: black solid 1px !important;
}
.circular-btn i {
  border-radius: 50% !important;
}

.form-input {
  padding: 0.2em;
  border-radius: 0.4em;
  justify-content: center;
}

.input-label-div {
  margin: 0em 0.5em;
}
.input-label-div label {
  display: block;
  margin-bottom: 0.2em;
}

.horizontal-scroller {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
}
.horizontal-scroller .card {
  display: inline-block;
  box-shadow: -3px -25px 20px 20px rgba(0, 0, 0, 0.3);
}

.anchor-btn {
  border-radius: 0.5em;
  background-color: coral;
  padding: 0.4em;
  margin: 0.4em;
}
.anchor-btn:hover {
  background-color: lightcoral;
  cursor: pointer;
}

.anchor-btn[status=active] {
  background-color: lightcoral;
}

.leftmost {
  margin-left: 0px !important;
}

.rightmost {
  margin-right: 0px !important;
}

.bold-font {
  font-weight: bold;
}

.italic-font {
  font-style: italic;
}

@-webkit-keyframes shake {
  8%, 41% {
    -webkit-transform: translateX(-10px);
  }
  25%, 58% {
    -webkit-transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-5px);
  }
  92% {
    -webkit-transform: translateX(5px);
  }
  0%, 100% {
    -webkit-transform: translateX(0);
  }
}
.midsize {
  font-size: 1.8rem;
}

.bodysize {
  font-size: 1.2rem;
}

.afterline:after {
  width: 100%;
  margin-top: 2rem;
}

html {
  padding: 0 10vw;
}

body {
  background-color: white;
  max-width: 100%;
}

nav {
  background-color: white;
  position: relative;
  top: 0;
}

#prop-navbar {
  position: fixed;
  top: 0;
  background-color: #f4f4f4;
  width: 80vw;
  z-index: 10;
  border-radius: 5px;
  justify-content: center;
}
#prop-navbar a {
  text-decoration: none;
  color: #222222;
  margin: 0 1em;
  font-size: 1.2rem;
  padding: 1.2em 0;
  display: inline-block;
  border-bottom: 2px solid #f4f4f4;
}
#prop-navbar a:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}
#prop-navbar a:first-child {
  margin: 0em !important;
}

#left-prop-content > div {
  margin-top: 4rem;
}

#prop-main-box {
  /*/margin-top: 5vw;*/
}

#prop-heading {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
#prop-heading h1 {
  font-size: 2.4rem;
}
#prop-heading button {
  margin-left: auto;
  font-size: 2.4rem;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  outline: 0;
}
#prop-heading input {
  margin: auto 0 auto auto;
  font-size: 1.2rem;
  height: 2.4rem;
  padding: 0 5px 0 5px;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 10px;
  background-color: aliceblue;
  outline: 0;
}
#prop-heading input:hover {
  cursor: pointer;
  background-color: lightblue;
}

.visit-time, #images-box #imgs-showall {
  font-size: 1.3vw;
  border-radius: 10px;
  background-color: orange;
  border-color: orange;
  padding: 7px;
  color: white;
  outline: none;
}
.visit-time:hover, #images-box #imgs-showall:hover {
  cursor: pointer;
  background-color: #FF8C00;
  outline: none;
}

#images-box {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(auto, calc( 10vh + 10vw )));
  grid-gap: 0.3rem;
}
#images-box div:nth-child(1) {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
#images-box div:nth-child(2) {
  grid-column-start: 3;
}
#images-box img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
#images-box #imgs-showall {
  position: absolute;
  right: 3vw;
  bottom: 2vw;
  margin: 1vw;
}

.imgs {
  margin: 0.2vw;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 100%;
  flex: 1 1 0px;
}

#prop-content {
  margin: 3vw 0;
  position: relative;
}

#left-prop-content {
  margin: 0vw 2vw 0vw 0.2vw;
  flex: 2.5 1 0px;
  height: 100vw;
}

#left-prop-content > div:first-child {
  margin: 0vw 0 3vw 0;
}

#left-prop-content > div:first-child p {
  margin: 0;
}

#right-prop-content {
  margin: 0vw 0.2vw 0vw 2vw;
  position: relative;
  flex: 1 1 0px;
}

.sticky {
  top: 10px;
}

#propDesc {
  height: auto;
  max-height: 20vw;
  overflow: hidden;
  position: relative;
  white-space: pre-line;
  z-index: 0;
  margin-bottom: 0;
  /* can use some break word property here */
}

#showDesc {
  position: absolute;
  bottom: calc( -2.3vw - 12px);
  width: 100%;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

#showDesc input {
  margin: 1vw;
  font-size: 1.3vw;
  border-radius: 10px;
  background-color: orange;
  border-color: orange;
  padding: 6px;
  color: white;
  outline: none;
}

#showDesc input:hover {
  cursor: pointer;
  background-color: #FF8C00;
  outline: none;
}

#amenities-box, #houserules-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0 1.5rem;
}
#amenities-box p, #houserules-box p {
  font-size: 1.2rem;
  font-family: "Montserrat";
  color: #222222;
  font-weight: 400;
  border-radius: 0.3em;
}

#houserules-box {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#houserules-box p .fa-times {
  color: red;
}
#houserules-box p .fa-check {
  color: Orange;
}

#map {
  width: 100%;
  height: 17vw;
  border-radius: 10px;
  /*(100vw - (body padding *2))/3.5 -4 can include the left right prop margin too*/
}

#address-box p {
  background-color: #f4f4f4;
  text-align: center;
  padding: 0.9rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 3px;
  font-size: 1.2rem;
}

#contact-box {
  max-width: 100%;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4vw;
  background-color: lightblue;
}
#contact-box p {
  padding: 2vw;
}
.visit-time {
  background-color: white;
  color: black;
  border-color: white;
  padding: 0.4em;
  margin: 0.4em;
}
.visit-time:hover {
  background-color: lightgray;
}

.splide__slide {
  text-align: center;
}
.splide__slide img {
  width: 100%;
  height: auto;
}

.splide__list .is-active {
  border: 2px solid gray;
}

#secondary-slider {
  width: 70%;
  margin: auto;
}

.custom-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  position: relative;
  width: 80%;
  margin: auto;
  height: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

#primary-slider {
  flex: 1;
  padding: 0;
}
#primary-slider .splide__track, #primary-slider .splide__list {
  height: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=prop.css.map */
