@import "res/variables";

html{
    height: 100%;
}
body{
    display: flex;
    flex-flow: column;
    max-height: 100vh;
    overflow-x: hidden;
}
nav{
    position: relative ;
}



.fortrans{
        transition: all ease 1s;
}


#setup-container{
    opacity: 0.9;
    background-color: rgba(22,195,155,0.5);
   // border:3px solid orange;
    flex: 1;
    //for  this to shrink inside, min height has to be 0
    min-height: 0;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3,minmax(auto,1fr));
}

/*For active boxes*/
.activePhase{
    display: flex !important;
    flex-direction: column;

}
#setup-box{
    padding: 0 1rem;
    grid-column-start: 2;
    margin:0 auto;
    height: 100%;
    max-height: 100%;
    background-color: white;
    border-radius: 1rem;
    min-width: 40vw;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    
}
option[disabled]{
    //color: lightgray;
}

#image-preview-box{
    height: auto;
   // background-color: white;
    grid-column-start: 3;
    float: right;
    width: 100%;
    margin-left: 2rem;
    overflow-y: scroll;
}
.preview-img{
    width: 100%;
    padding-bottom: 75%;
   // s background-color: red;
    margin-bottom: 1vw;
}

#setup-box-content{
    overflow-y: scroll;
    position: relative;

    flex: 1;
}
.setup-footer{
    padding: 2rem 0;
}
.setup-fader{
   display: none;
    max-width: 100%;
    max-height: 100%;
}

/*General style for top headings on each phase page*/
.setup-fader h1{
    margin: 0 0 2.5vw 0;
    text-align: center;
    color: #5297BF;
    font-weight: bold;
}

/*General style for p texts in the phase boxes*/
.phase-text{
    font-size: 1.4vw;
    color: #315B73;
}
.phase-text-inline{
    font-size: 1.6vw;
    margin-right: 1vw;
    color: #315B73;
    padding: 0.4em;
    padding-left: 0;

}
.phase-text-label{
    font-size: 1.4vw;
    margin-bottom: 5px;
    color: #5297BF;
    font-weight: bold;
}



/*General style for inputs in the phase boxes*/
#setup-box input,select{
    display: block;
    margin: 1.3vw 0vw;
    font-size: 1.3rem;
    max-width: 100%;
    outline: none;
    font-family: reg;
    padding: 0.4em;
    border: solid 1.8px lightblue;
    border-radius: 10px;
    min-width: 0;
}


.rowflex>input{
    max-width: 50% !important;
}


.rowflex>input:first-child{
    margin-right: 1vw !important;
}


/*Style for title phase*/
#setup-box textarea{
    margin: 1vw 0;
}
#ta-title{
    font-size: 2.3vw;
    width: 100%;
    text-align: center;
    resize: none;
    
}
#ta-desc{
    width: 100%;
    font-size: 1.2vw;
    
    resize: vertical;
}




.next {
  background-color: #4CAF50;
  color: white;
}


#setup-box-next{
    border-radius: 10px !important;
    background-color: lightgray;
    background-color: #315B73;
    border-color: #315B73;
    margin: 0 !important;
    color: white;
    outline: none;
    margin-left: auto !important;
}

#setup-box-next:hover{
    cursor: pointer;
    background-color: #315B73;
    font-size: 1.44vw;
    border-color: #315B73;
    
}

.switch-btns{
    border-radius: 50% !important;
    outline: none;
    padding: 0.5rem !important;
    height: 0.5rem;
    margin: auto 1vw auto 0 !important;

    transition: all ease 0.15s;

}

.switch-btns:hover{
      cursor: pointer;
    background-color: #315B73 !important;
        border-color: #315B73 !important;
    padding: 1.2rem !important;
    height: 1.2rem;

    font-size: 1.44vw !important;
}

.inplabels{
    font-size: 1.4vw;
    padding: 0.4em;
    white-space: nowrap;
}

.numinp{
    width: 50%;
}


#getLocation{
    width: 15vw;
    font-size: 1.20vw;
    padding: 0.3em;
    border-radius: 10px;
    background-color: lightgray;
    background-color: #315B73;
    border-color: black;
    color: white;
    outline: none;
}
#getLocation:hover{
    cursor: pointer;
    background-color: #315B73;
    font-size: 1.22vw;
    border-color: #315B73;
    
    
}
#map{
    display: none;
    min-height: 30vw;
    width: 100%;
}





/*Style for amenity phase*/
input[type=checkbox]{
    display: inline-block !important;
    margin-right: 0.5vw !important;
    width: 1vw;
    height: 1vw;
}
.amenity input:hover{
    cursor: pointer;
}
label{
    font-size: 1.4vw;
}
#add-amenity{
    width: 5vw;
    outline: none;
}
#add-amenity:hover{
    cursor:pointer;
    background-color: #315B73;
    border-color: #315B73;
    color: white;
    font-size: 1.44vw;
}
.rules-btns{
    border-radius: 50% !important;
    padding: 0 0.6vw !important;
    outline: none;
    font-size: 1.4vw !important;
}
.notopmargin{
    margin-top: 0 !important;
}
.rules-btns:hover{
    cursor:pointer;
    background-color: #315B73;
    border-color: #315B73 !important;
    color: white;
    font-size: 1.44vw !important;
}
.activeBtn{
    background-color: #315B73;
    border-color: #315B73 !important;
    color: white;
    font-size: 1.44vw !important;
}

.setup-gridbox{
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-gap:4rem 1rem;
    padding: 1rem;

}

.label-input{
    p{
        @extend .phase-text-label;
        font-size: $fontsize_body;
        font-family: $fontHeading;
    }
    select{
        margin-top: 0 !important;
    }
    input{
        margin-top: 0 !important;

    }
}