.text-body {
  font-family: "Montserrat";
  font-size: 21.6px;
}

.text-small-body {
  font-family: "Montserrat";
  font-size: 19.6px;
}

.text-icon {
  font-family: "Montserrat";
  font-size: 16.28px;
}

.text-small-icon {
  font-family: "Montserrat";
  font-size: 14px;
}

.text-largeheading {
  font-family: "Ubuntu";
  font-size: 42px;
}

.text-midheading {
  font-family: "Alegreya";
  font-size: 28.8px;
}

.font-body {
  font-family: "Montserrat" !important;
}

.font-largeheading {
  font-family: "Ubuntu" !important;
}

.font-midheading {
  font-family: "Alegreya" !important;
}

@media (min-width: 481px) and (max-width: 768px) {
  .text-largeheading {
    font-size: 37px;
  }

  .text-midheading {
    font-size: 25.8px;
  }

  .text-body {
    font-size: 19.6px;
  }

  .text-icon {
    font-size: 14.28px;
  }

  .text-small-icon {
    font-size: 12.28px;
  }
}
@media (max-width: 480px) {
  .text-body {
    font-size: 17.6px;
  }

  .text-largeheading {
    font-size: 32px;
  }

  .text-midheading {
    font-size: 21.8px;
  }

  .text-icon {
    font-size: 13.28px;
  }

  .text-small-icon {
    font-size: 11.78px;
  }
}
.img-overlay {
  overflow: hidden;
  width: 100%;
  height: 65%;
  position: relative;
}
.img-overlay img {
  z-index: -10;
  width: 100%;
  height: 100%;
}
.img-overlay .nextImg {
  position: absolute;
  left: 100%;
  top: 0;
}
.img-overlay .prevImg {
  position: absolute;
  left: -100%;
  top: 0;
}
.img-overlay .active {
  z-index: 0;
}
.img-overlay .back {
  animation: goback 0.6s forwards;
}
.img-overlay .front {
  animation: gofront 0.6s forwards;
}
.img-overlay .stay {
  position: absolute;
  left: 0;
  top: 0;
}
@keyframes goback {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes gofront {
  100% {
    transform: translateX(100%);
  }
}
.img-overlay button:not(.add-to-wishlist-btn):not(.img-circles) {
  position: absolute;
  font-size: 25px;
  background-color: grey;
  border-radius: 50%;
  z-index: 2;
}
.img-overlay button:not(.add-to-wishlist-btn):not(.img-circles):hover i {
  color: lightgray;
}
.img-overlay .img-prev {
  top: 50%;
  left: 2px;
}
.img-overlay .img-next {
  top: 50%;
  right: 2px;
}
.img-overlay .add-to-wishlist-btn {
  position: absolute;
  font-size: 25px;
  z-index: 2;
  right: 2px;
  top: 2px;
}
.img-overlay .add-to-wishlist-btn, .img-overlay add-to-wishlist-btn[wishlist=false] i {
  color: lightgray;
  text-shadow: 0 0 5px gray;
}
.img-overlay .add-to-wishlist-btn:hover, .img-overlay add-to-wishlist-btn[wishlist=false] i:hover {
  color: red;
  cursor: pointer;
}
.img-overlay .show-desc-btn {
  top: 2px;
  left: 2px;
  font-size: 21px !important;
  border-radius: 5px !important;
}
.img-overlay .show-desc-area {
  position: absolute;
  background-color: rgba(10, 10, 10, 0.7);
  font-size: 19px;
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  overscroll-behavior: contain;
  justify-content: center;
  z-index: 1;
}
.img-overlay .show-desc-area p {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  line-height: 25px;
}
.img-overlay .bottom-circles {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  bottom: 5px;
  z-index: 0;
}
.img-overlay .img-circles {
  position: relative;
  color: gray;
  font-size: 13px;
  bottom: 3px;
  margin-left: 3px;
}
.img-overlay .img-circles i {
  transition: font-size 0.1s ease-in;
}
.img-overlay .img-circles:hover i {
  font-size: 24px;
  color: gray !important;
  background-color: rgba(1, 1, 1, 0) !important;
}

.listprops-item {
  content: "";
  border: 1px solid gray;
  height: 50vh;
  overflow-y: scroll;
  border-radius: 0.4rem;
  line-height: 1.5rem;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.19);
  position: relative;
}

.listprops-item:hover {
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.19), 0.4rem 0.375rem 0.375rem rgba(0, 0, 0, 0.23);
  transform: scale(1.01);
}

.listprops-item > div:not(.img-overlay) {
  margin: 18px 5px;
  height: 10%;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
}

.star-rating-box {
  font-size: 20px;
  font-family: "Montserrat";
  letter-spacing: 0.2em;
}
.star-rating-box p {
  margin: auto 0.3em;
}

.prop-title-box {
  width: 100%;
}
.prop-title-box div {
  margin: auto;
}
.prop-title-box p {
  margin: 5px 0;
}
.prop-title-box .prop-title {
  font-size: 25px;
  letter-spacing: 2px;
  font-family: "Ubuntu";
}
.prop-title-box .prop-address {
  font-size: 15px;
  font-family: "Montserrat";
}

/*# sourceMappingURL=single-listing.css.map */
