<nav>
<div>
    <a id='logoicon' href="/" >LOGO</a>

    <div class="rowflex search-prop-input">
        <button type="button"  class="search-btn search-location-btn"><i class="fa fa-map-marker fa-lg"></i></button>
        <input placeholder="Location" type="text"  class="text-midheading searchInp locationInput">
        <input placeholder="Search" type="text"  class="text-body searchInp searchInput">
        <button type="button"  class="search-bt search-go-btn"><i class="fa fa-search"></i></button>
    </div>
</div>
<div>
    <a href="/host">Host your home</a>
    <a>Book a room</a>    
    <a href="/user/">My Account</a>
    <a onclick="openLogin()" id="nav-signin" style="display: none">Sign in</a>

    <a style=" display: none" id="nav-signout">Sign out</a>
</div>
</nav>