<nav>
<div>
    <a style="margin-left: 0;" id='logoicon' href="/" >LOGO</a>
        <div class="rowflex search-prop-input">
            <button type="button" id="search-location-btn" class="search-btn"><i class="fa fa-map-marker fa-lg"></i></button>
            <input placeholder="Location" type="text" id="searchInput" class="searchInp">
            <button type="button" id="search-go-btn" class="search-btn"><i class="fa fa-search"></i></button>
        </div>
</div>
<div>
    <a href="/host">Host your home</a>
    <a>Book a room</a>    
    <a href="/user/">My Account</a>
    <a onclick="openLogin()" id="nav-signin" style="display: none">Sign in</a>

    <a style=" display: none" id="nav-signout">Sign out</a>
</div>
</nav>