
<head>
    <link href="/css/user/dashboard.css" rel="stylesheet">
</head>
<form action="/login/update_user" id="login-info-submit" method="post">
    <input type="text" pattern="[0-9]{10}" placeholder="Phone Number" id="pnum" name="pNum"><br>
    <input type="text" id="user-address" placeholder="Address" name="address"><br>
    <input type="text" id="user-city" placeholder="City" name="city"><br>
    <input type="text" id="user-state" placeholder="State" name="state"><br>
    <input type="submit" value="Submit">
</form>