<div class='search-box'>
    <div>
    <h1>Search Best Rooms in Your Area</h1>
    <div class="rowflex search-prop-input">
        <button type="button"  class="search-btn search-location-btn"><i class="fa fa-map-marker fa-lg"></i></button>
        <input placeholder="Location" type="text"  class="searchInp locationInput">
        <input placeholder="Search" type="text"  class="searchInp searchInput">
        <button type="button"  class="search-bt search-go-btn"><i class="fa fa-search"></i></button>
    </div>
    </div>
</div>
    
