<div class='search-box'>
    <div>
    <h1>Search Best Rooms in Your Area</h1>
    <div class="rowflex search-prop-input">
        <button type="button"  class="search-btn search-location-btn"><i class="fa fa-map-marker fa-lg"></i></button>
        <input placeholder="Location" type="text"  class="searchInp searchInput">
        <button type="button"  class="search-bt search-go-btn"><i class="fa fa-search"></i></button>
    </div>
    </div>
</div>
    
<div class='featured-props-cont'>
    <div class='featured-props-f'>
        <h1 class='common-h1'>The best rental platform in the country</h1>
        <div class='featured-props'>
             <div class="card">
             <img src="/imgs/img_avatar2.png" alt="Avatar" style="width:100%">
             <div class="container">
                <h4><b>Jain PG</b></h4> 
                <p>Chandigarh</p> 
             </div>
             </div>
            <div class="card">
              <img src="/imgs/img_avatar2.png" alt="Avatar" style="width:100%">
              <div class="container">
                   <h4><b>Jain PG</b></h4> 
                    <p>Chandigarh</p> 
              </div>
            </div>
        </div>
    </div>
    <div class="featured-props-s">
        <div class="card">
          <img src="/imgs/img_avatar2.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Jain PG</b></h4> 
            <p>Chandigarh</p> 
          </div>
        </div>
        <h1 class='common-h1'>Always here for you</h1>
    </div>
</div>

<div class='upcoming-exp'>
    <div class = 'upcoming-exp-header'>
    <h1 class='common-h1'>Upcoming experiences</h1>
    </div>
    <div class='upcoming-exp-cont'>
        <div class='upcoming-exp-f'>
             <div class="card">
                  <img src="/imgs/img_avatar2.png" alt="Avatar" style="width:100%">
                  <div class="container">
                       <h4><b>Jain PG</b></h4> 
                  </div>
                </div>
        </div>
        <div class='upcoming-exp-s'>
            <div class='upcoming-exp-sf'>
                 <div class="card">
                  <img src="/imgs/img_avatar2.png" alt="Avatar" style="width:100%">
                  <div class="container">
                       <h4><b>Jain PG</b></h4> 
                  </div>
                </div>
                 <div class="card">
                  <img src="/imgs/img_avatar2.png" alt="Avatar" style="width:100%">
                  <div class="container">
                       <h4><b>Jain PG</b></h4> 
                  </div>
                </div>
            </div>
            <div class='upcoming-exp-ss'>
            
             <div class="card">
                  <img src="/imgs/img_avatar2.png" alt="Avatar" style="width:100%">
                  <div class="container">
                       <h4><b>Jain PG</b></h4> 
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>