<div class='search-box'>
    <div>
    <h1 class="text-largeheading">Search Best Rooms in Your Area</h1>
    <div class="rowflex search-prop-input">
        <button type="button"  class="search-btn search-location-btn"><i class="fa fa-map-marker fa-lg"></i></button>
        <input placeholder="Location" type="text"  class="text-body searchInp locationInput">
        <input placeholder="Search" type="text"  class="text-body searchInp searchInput">
        <button type="button"  class="search-bt search-go-btn"><i class="fa fa-search"></i></button>
    </div>
    </div>
</div>

<div class="gridbox" id="hp-feature">
    <div id="hpf-img">
        <img src="/imgs/homepagebg1.jpg">
    </div>

    <div id="hpf-box">
        <h3 class="text-largeheading">
            Flexible Options to fit your needs
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis nostrum numquam possimus sed vel!
            Atque corporis, facere minus modi mollitia, natus neque, optio praesentium quia quibusdam
            quisquam similique sit suscipit vel voluptatem? Consectetur, deleniti eligendi impedit minus
            possimus sed veritatis?  </p>
        <div class="rowflex">
            <button>Host</button>
            <button>Search</button>

        </div>
    </div>


</div>

<div id="hp-perks">
    <h3 class="text-largeheading">The Perks</h3>
    <div class="gridbox">
        <div perk="1">
            <i class="fa fa-times"></i>
            <h4 class="text-midheading font-midheading">Yo there</h4>
            <p class="text-icon">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                deserunt doloribus ipsa nisi</p>
        </div>
        <div perk="2">
            <i class="fa fa-times"></i>
            <h4 class="text-midheading font-midheading">Yo there</h4>
            <p class="text-icon">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                deserunt doloribus ipsa nisi</p>
        </div>
        <div perk="3">
            <i class="fa fa-times"></i>
            <h4 class="text-midheading font-midheading">Yo there</h4>
            <p class="text-icon">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                deserunt doloribus ipsa nisi</p>
        </div>
        <div perk="4">
            <i class="fa fa-times"></i>
            <h4 class="text-midheading font-midheading">Yo there</h4>
            <p class="text-icon">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                deserunt doloribus ipsa nisi</p>
        </div>
        <div perk="5">
            <i class="fa fa-times"></i>
            <h4 class="text-midheading font-midheading">Yo there</h4>
            <p class="text-icon">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                deserunt doloribus ipsa nisi</p>
        </div>
        <div perk="6">
            <i class="fa fa-times"></i>
            <h4 class="text-midheading font-midheading">Yo there</h4>
            <p class="text-icon">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                deserunt doloribus ipsa nisi</p>
        </div>

    </div>
</div>


<div id="hp-cityprops" >
    <div id="hp-cityprops-scroller" class="horizontal-scroller">
    <div class="card" style="background-image: url('/imgs/hp-city1.jpg');">
    <h2></h2>
    </div>
    <div class="card" style="background-image: url('/imgs/hp-city2.jpg');">
    </div>
    <div class="card" style="background-image: url('/imgs/hp-city3.jpg');">
    </div>
    <div class="card" style="background-image: url('/imgs/hp-city4.jpg');">

    </div>
    <div class="card" style="background-image: url('/imgs/hp-city5.jpg');">

    </div>
    <div class="card" style="background-image: url('/imgs/hp-city6.jpg');"></div>
    </div>

    <button id="hp-prop-right"><i class="fa fa-arrow-right"></i> </button>
    <button id="hp-prop-left"><i class="fa fa-arrow-left"></i> </button>

</div>

<div id="hp-quote">
    <div>
    <p>Lyfly made sense for my life</p>
    <h1 class="text-largeheading">"My favorite thing about lyfly are the genuine friendships I've made over the last year."</h1>
    <p rel="author">~ John Doe</p>
    </div>
</div>


</div>
    
