<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/Users/benphan/IdeaProjects/nik/public/css/dashboard.css" type="text/css">
    <!-- Insert your kit here -->
</head>

<body>
    <section class="side-bar">
        <nav>
            <img src="/public/imgs/PngItem_2477379.png" alt="house logo">
            <ul>
                <li><a href="#"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                <li><a href="#"><i class="fas fa-wallet"></i>Wallet</a></li>
                <li><a href="#"><i class="far fa-calendar-alt"></i>My Events</a></li>
                <li><a href="#"><i class="far fa-heart"></i>My Favourite</a></li>
                <li><a href="#"><i class="far fa-calendar-check"></i>My Bookings</a></li>
            </ul>
        </nav>
    </section>

    <section class="top-bar">
        <p>Dashboard</p>
        <div>
            <i class="far fa-bell"></i>
            <i class="far fa-user-circle"></i>
        </div>
    </section>

    <section class="content">
        <div>
            <p>Profile Picture</p>
        </div>
    </section>
</body>
</html>