@import "variables";
nav{
  position: fixed;
  width: 100%;
  padding: 0.7vw 0;
  display: flex;
  z-index: 100;
}
nav div{
  display: flex;
}
nav div:first-child{
  flex: 1.7 1 0px;
  display: flex;
  flex-direction: row;
}
nav div:nth-child(2){
  flex: 1 1 0px;

}
nav a{
  font-size: 1.2rem;
  text-align: center;
  margin: 0 8px;
  padding: 8px;
  border-radius: 10px;
  font-weight: 700;
  font-family: 'Ubuntu', serif;
  word-spacing: 0.2rem;
  color: rgb(100,100,100);

  text-decoration: none;
}

nav a:hover{
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}