@import "variables";
$navbar_fontsize:1.2rem;
$searchbar_opacity:1;
nav{
  position: fixed;
  width: 100%;
  padding: 0.7vw 0;
  display: flex;
  z-index: 1;
}
nav .search-prop-input{
  opacity: 1;
  transition: all 0.3s ease-in;
  .searchInp{
    @extend .text-icon;
    @extend .font-midheading;
  }
}
.search-prop-input{
  margin: 0 auto;
  width: 35vw;
  .searchInp{

    border-width: 0;
    border-color: black;
    border-top-width: 2px;
    border-bottom-width: 2px;
    outline: none;
    width: 80%;
    padding: 0.5rem;
    float: left;
  }
  .locationInput{
    width: 30%;
    border-right-width: 1px;
  }
  $border-radius:12px;
  button{
    @extend .searchInp;
    width: 10%;
    background-color: white;
    transition: all 0.1s ease-in;
    &:hover{
      cursor: pointer;
      color: white;
      background-color: black;
    }
  }
  .search-go-btn{
    border-right-width: 2px;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

  }
  .search-location-btn{
    border-left-width: 2px;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;


  }
}
nav div{
  display: flex;
}
nav div:first-child{
  flex: 1.7 1 0px;
  display: flex;
  flex-direction: row;
}

nav a{
  @extend .text-icon;
  @extend .font-largeheading;
  text-align: center;
  margin: 0 8px;
  padding: 8px;
  border-radius: 10px;
  font-weight: 700;
  font-family: 'Ubuntu', serif;
  word-spacing: 0.2rem;
  color: rgb(100,100,100);

  text-decoration: none;
}

nav a:hover{
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

#logoicon{
  margin-left: 0;
  padding-left: 0;
}


@include media(">phone","<=tablet") {

  .search-prop-input{
    width: 80%;
  }
}