<div class="container">
    <figure>
        <img src="/imgs/img1.jpeg" alt="Photo of a room">
        <figcaption>SJ Boys PG<br><span>SJ Boys PG, Sector-43, Chandigarh</span><br></figcaption>
        <figcaption id="description">Description<br><span>
            It’s worth noting at this point that the spec that introduces max-lines is currently in
            Editor’s Draft, so everything we’re talking about here is subject to change since it is
            a work in progress. The spec even notes that this property is at risk of being dropped durin
            g candidate recommenThat said, the spec is also quick to note that does not mean the idea may
            simply be deferred and could pop up in another draft period.</span></figcaption>
        <figcaption>Rent start at<br><span>3500 /month</span></figcaption>
    </figure>
    <form>
        <input type="image" src="/imgs/heartbutton.png" alt="Submit" id="heartbutton">
    </form>
</div>
