<div class="modal" id="booking-modal">
<form id="booking-form" action="/prop/booking" method="post">
    <label for="shift-date">Shifting date</label>
    <input type="date" name="shift-date" id="shift-date" ><br>
    <p class="midsize">Schedule a visit</p>
    <label for="visit-date" class="bodysize">Date</label>
    <input type="date" name="visit-date" id="visit-date" ><br>
    <p class="bodysize">Time range for visit</p>
    <input type="button" class="visit-time"  value="9:00 AM - 11:00 AM">
    <input type="button" class="visit-time"  value="11:00AM - 1:00 PM">
    <input type="button" class="visit-time"  value="1:00 PM - 3:00 PM">
    <input type="button" class="visit-time"  value="3:00 PM - 5:00 PM">
    <input type="button" class="visit-time"  value="5:00 PM - 7:00 PM">
    <input type="submit" >
</form>

</div>
`